$font-family: 'Ukraine',
sans-serif;

$root-font-size: 16px;

$grid-breakpoints: (xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1024.99px,
  xl: 1300px,
  xxl: 1440px);

$container-max-widths: (md: 980px,
  lg: 1184px,
  xl: 1264px,
  xxl: 1352px);

$border: 1px solid $border-color;

$table-accent-bg: #990000;