.faq-cat-title {
  display: inline-block;
  padding-top: 20px;
  border-top: 2px solid rgba($primary, .67);
}

$faq-base-gap: 24px;

.faq-content {
  &__row {
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }
}

.faq-block {
  border-color: $dark;
  border-style: solid;
  border-width: 1px 0 1px 0;

  &__header {
    position: relative;
    padding: $faq-base-gap 0;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url('../img/icons/ic-plus-outlined.svg') no-repeat center / cover;
      transition: transform .2s ease;
    }
  }

  //.faq-block__header

  &__body {
    @extend .txt-muted;
    font-size: 16px;
    padding-bottom: $faq-base-gap * 2;
    display: none;
  }

  &.is-open {

    .faq-block__header {
      &:after {
        transform: rotate(45deg);
      }
    }

  }
}

.faq-items {
  &__col {

    &:not(:first-child) {
      margin-top: -1px;
    }

  }
}