.page-nav {
  @include media-breakpoint-down(sm) {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  &-item {
    display: inline-block;
    flex-shrink: 0;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 40px;

      @include media-breakpoint-down(sm) {
        margin-right: 20px;
      }
    }

    &.is-current {

      .page-nav-link {
        border-color: $primary;
        color: $dark;
        font-weight: 500;
      }
    }
  }

  &-link {
    color: $mute;
    font-weight: 40;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 16px;
    border-bottom: 2px solid $transparent;
    line-height: 1;

    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
    }

    &:hover {
      border-color: $primary;
      color: $dark;
    }
  }

  //.page-nav-link
}