.footer {

  &-content {
    padding: 60px 0 32px;
    color: $white;
    background-color: $footer-bg;

    &-copy {
      opacity: 0.55;
      font-size: 14px;

      @media screen and (max-width: 576px) {
        border-top: $border;
        ;
      }
    }

    //.footer-content-copy
  }

  //.footer-content

  &__header {
    border-top: 2px solid $border-color-dark;
    padding: 77px 0 90px;

    @media screen and (max-width: 576px) {
      padding: 40px 0;
    }
  }

  &-partners {

    &__item {

      &:nth-last-child(n+2) {
        margin-bottom: 20px;
      }
    }

    //footer-partners__item
  }

  //.footer-partners

  &-contacs {

    &__item {
      padding-left: 32px;
      position: relative;

      @include media-breakpoint-down(sm) {
        opacity: 0.55;
      }

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }

      p {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &--address {
        &:before {
          background-image: url('../img/icons/uil_map-marker.min.svg');
        }
      }

      &--tel {
        &:before {
          background-image: url('../img/icons/uil_outgoing-call.min.svg');
        }
      }
    }

    //.footer-contacs__item
  }

  //.footer-contacs

  &-social {
    display: flex;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;

      @include media-breakpoint-down(sm) {
        opacity: 0.55;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }

      img {
        filter: brightness(0) invert(1);
      }

      &:hover {

        img {
          filter: none;
        }
      }
    }

    //.footer-social-item
  }

  //.footer-social

  &-nav {
    color: $mute;
    @include row-flex();

    a {
      color: $mute;
      text-decoration: none;

      &:hover {
        color: $dark;
      }
    }

    &>.menu-item {
      @include col();

      @include size(3);
      @include size-md(12);

      @include sm-block {
        &:not(:last-child) {
          margin-bottom: 16px;
        }

        &:not(:first-child) {
          .sub-menu {
            display: none;
          }
        }
      }

      &>a {

        color: $dark;
        display: inline-block;
        margin-bottom: 16px;

        @include sm-block {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &.is-active {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:after {
            content: '';
            display: block;
            width: 11px;
            height: 7px;
            background: url('../img/icons/ic-arrow-collapse.svg') no-repeat center / contain;
          }
        }
      }

    }

    .sub-menu {
      &>.menu-item {
        margin-bottom: 16px;

        @include sm-block {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

//.footer-nav

//.footer