$btn-border-radius: 50px;
$btn-padding-y: 14px;
$btn-padding-x: 38px;

@import "../../../../node_modules/bootstrap/scss/buttons";

.btn {
  color: $primary;
  line-height: 1;

  &:hover {
    color: $white;
  }

  &-primary {
    color: $white;
    font-weight: 400;
    letter-spacing: .5px;
  }

  //.btn-primary
}